<div id="<%= dom_id comment %>">
  <p>
    <strong>> <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %> <%= comment.user.present? ? comment.user.display_name : '未登録ユーザ' %></strong><br>
    <%= comment.body %>
  </p>
  <p>
    <% if current_user == comment.user %>
      <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), [@commentable, comment], method: :delete %>
    <% end %>
  </p>
</div>
