<div id="<%= dom_id comment %>">
  <p>
    <strong>> <%= l comment.created_at, format: :default %> <%= comment.user.present? ? comment.user.display_name : t('activerecord.attributes.user.unregistered_name') %></strong><br>
    <%= comment.body %>
  </p>
  <p>
    <% if current_user == comment.user %>
      <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), [@commentable, comment], method: :delete %>
    <% end %>
  </p>
</div>
