<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @commentable %>
</div>

<nav class="page-nav">
  <% if current_user == @commentable.user %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@commentable) %> |
  <% end %>
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>

  <% if current_user == @commentable.user %>
    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @commentable, method: :delete %>
  <% end %>
</nav>

<h2><%= Comment.model_name.human %></h2>
<%= render @commentable.comments %>
<%= render "comments/form", commentable: @commentable %>
