<h2>Index <%= resource_name.to_s.humanize %></h2>

<div id="books" class="index-items">
  <% @users.each do |user| %>
    <div class="index-item">
      <p>
        <strong><%= 'email' %>:</strong>
        <%= user.email %>
      </p>

      <p>
        <strong><%= 'address' %>:</strong>
        <%= user.address %>
      </p>

      <p>
        <strong><%= 'postal_code' %>:</strong>
        <%= user.postal_code %>
      </p>

      <p>
        <%= link_to 'このユーザを表示する', user_profile_path(user) %>
      </p>
    </div>
  <% end %>
</div>

<%= paginate @users %>
